<!doctype html>
<html lang="en" class="h-100">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="{% static 'catalog/area.css' %}">
{%block title%} <title>Дизайн студия</title> {%endblock%}
</head>

<div class="sidenav">
  <a href="{% url 'index' %}">Домашняя страница</a>
  {% if user.is_authenticated %}
    <a href="{% url 'personal_area' %}">Личный кабинет: {{ request.user.username }}</a>
    <a href="{% url 'logout' %}">Выход</a>
    {%else%}
    <a href="{% url 'login' %}">Вход</a>
    <a href="{% url 'signup' %}">Регистрация</a>
  {%endif%}
</div>

     <div class="post-wrap">
              <div class="post-item">
                <div class="item-content">
                  <div class="item-icon group">
                    {% if user.avatar %}
                    <img src="{{ request.user.avatar.url }}" alt="connect" style="max-height:150px">
                     {% endif %}
                  </div>
                    <div class="item-body">
                      <h3>Имя: {{ user.get_username }}</h3>
                      <p><a href="{% url 'delete_user' user.id %}"><strong>Удалить профиль?
                      </strong></a></p>
                      {% for choice in question.choice_set.all %}
                        <p>{{ choice.choice_text }} -- {{ choice.votes }} ответов</p>
                      {% endfor %}
                    </div>
                      <div class="item-footer">
                         {% if user.is_staff %}
                             <a href="{% url 'update_admin' user.id %}"><p><strong>Изменить профиль??</strong></p></a>
                          {% else %}
                            <a href="{% url 'update_user' user.id %}"><p><strong>Изменить профиль??</strong></p></a>
                         {% endif %}
                      </div>
                   </div>
                </div>
            </div>
</body>
</html>