<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
  {% load static %}
    <link rel="stylesheet" href="{% static 'catalog/index.css' %}">
</head>
<body>

<div class="sidenav">
  <a href="{% url 'index' %}">Домашняя страница</a>
  {% if user.is_authenticated %}
    <a href="{% url 'personal_area' %}">Личный кабинет: {{ request.user.username }}</a>
    <a href="{% url 'logout' %}">Выход</a>
    {%else%}
    <a href="{% url 'login' %}">Вход</a>
    <a href="{% url 'signup' %}">Регистрация</a>
  {%endif%}
</div>

{% block content %}
  {% if question_list %}
    {% for question in question_list %}
          {% if question.pub_date < question.life_time %}
            <div class="post-wrap">
              <div class="post-item">
                <div class="item-content">
                  <div class="item-icon group">
                    <img src="{{ question.question_image.url }}" alt="connect" style="max-height:150px">
                  </div>
                    <div class="item-body">
                      <h3><a href="{% url 'info_question' question.id %}"> Название: {{ question.question_text }}</a></h3>
                      <p>Описание: {{ question.short_info }}</p>
                      <p>Варианты ответов: </p>
                      {% for choice in question.choice_set.all %}
                        <p>{{ choice.choice_text }} -- {{ choice.votes }} ответов</p>
                      {% endfor %}
                    </div>
                      <div class="item-footer">
                         <a href="{% url 'result_question' question.id %}" class="link"><span> Результаты опроса</span></a>
                      </div>
                   </div>
                </div>
            </div>
          {% else %}
            {% if user.is_staff %}
              <div class="post-wrap">
              <div class="post-item">
                <div class="item-content">
                  <div class="item-icon group">
                    <img src="{{ question.question_image.url }}" alt="connect" style="max-height:150px">
                  </div>
                    <div class="item-body">
                      <h3><a href="{% url 'info_question' question.id %}"> Название: {{ question.question_text }}</a></h3>
                      <p>Описание: {{ question.short_info }}</p>
                      <p>Варианты ответов: </p>
                      {% for choice in question.choice_set.all %}
                        <p>{{ choice.choice_text }} -- {{ choice.votes }} ответов</p>
                      {% endfor %}
                    </div>
                      <div class="item-footer">
                         <a href="{% url 'result_question' question.id %}" class="link"><span> Результаты опроса</span></a>
                      </div>
                   </div>
                </div>
            </div>
{% endif %}
  {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
</body>
</html>
